@font-face {
  font-family: "iconfont"; /* Project id 4268856 */
  src: url('iconfont.woff2?t=1695710613744') format('woff2'),
       url('iconfont.woff?t=1695710613744') format('woff'),
       url('iconfont.ttf?t=1695710613744') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e603";
}

.icon-guanbi1:before {
  content: "\e611";
}

.icon-danxuankuang:before {
  content: "\e6f0";
}

.icon-danxuan:before {
  content: "\e718";
}

